.topNav {
  background-color: #FF4664;
  padding: 0 15px 0 5px;
  max-height: 70px;
}

.topNav a:hover {
  text-decoration: underline;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-icon {
  padding: 0 14px;
}

.nav-spacer {
  flex: 1 1 auto;
}

.avatarUser {
  background-size: cover;
}

.nav-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.logo {
  max-height: 50px;
  max-width: 50px;
  margin: 0px 10px 0 0;

}
