<md-nav-list>
    <a md-list-item class="sidenav-link" [routerLink]="['/comp1']" (click)="sidenav.toggle()">
      <md-icon md-list-icon>account_balance</md-icon>
      <span class="title" md-line>comp1</span>
      <span md-line class="secondary">test</span>
    </a>
    <a md-list-item class="sidenav-link" [routerLink]="['/comp2']" (click)="sidenav.toggle()">
      <md-icon md-list-icon>android</md-icon>
      <span class="title" md-line>comp2</span>
      <span md-line class="secondary">test</span>
    </a>
</md-nav-list>
